.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 960px; */
  /* height: calc(100vh - 4rem); */
  height: 100vh;
  text-align: center;
  position: relative;
  background: center/cover no-repeat;
  color: #fff;
  padding: 2rem;
  z-index: 1;
}

.sectionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  margin: 0.25rem;
  line-height: 1;
  z-index: 2;
  position: relative;
}

.sectionSubtitle,
.sectionParagraph {
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  margin: 0.25rem;
  line-height: 1;
  z-index: 2;
  position: relative;
  max-width: 930px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    padding: 1rem;
  }

  .sectionTitle {
    font-size: 2.5rem;
  }

  .sectionSubtitle {
    font-size: 1rem;
  }
}
