* {
  font-family: "Matter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow-x: auto;
  width: 100vw;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}
