* {
  font-family: "Matter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow-x: auto;
  width: 100vw;
}

.appContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

.section-component.visible {
  opacity: 1;
}

.hero {
  z-index: 3;
}

.about {
  z-index: 2;
  display: none;
}

.contact {
  z-index: 1;
  display: none;
}
